.flightFormContainer {
    margin: 1%;
    border-radius: 5px;
    background: linear-gradient(rgb(44, 42, 150, 0.5), rgba(135, 206, 235, 0.5));
    color: rgb(0, 0, 0);
    box-shadow: 2px 2px 4px rgba(48, 42, 42, 0.9);
    /* transition: all 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95); */
}

/* .flightFormContainer:hover {
    transform: scale(1.05);
    -ms-transform: scale(1.05); /* IE 9 */
    /* -webkit-transform: scale(1.05); /* Safari prior 9.0 
} */ 

input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

.flightForm {
    display: flex;
    flex-wrap: wrap;
    max-width: 95%;
    margin: auto;
    padding: 3vh 0;
    font-size: 110%;
}

input, select {
      font-size: 110%;
      margin-bottom: 3%;
      box-sizing: border-box;
      height: 2em;
      padding: 0;
      width: min-content;
}

.inputText,
.dropDownSelect {
    max-width: 60%;
    box-sizing: content-box;
    align-self: center;
    border: 1px solid rgba(0, 0, 255, 0.534);
    border-radius: 3px;
    background-color: cornsilk;
}

.dateBox {
width: 24%;
border: 1px solid rgba(0, 0, 255, 0.534);
border-radius: 3px;
padding-left: 3px;
background-color: cornsilk;
}

.formRow {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    margin: auto;
    place-items: flex-end;
}

label {
    align-self: center;
}

.dropDown,
.textInput {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 50%;
}

.inputText {
    max-width: 50%;
    padding-left: 5px;
}

.dropDown {
    margin-left: 2%;
    box-sizing: border-box;
    min-width: 50%;
}

.lastRow {
    margin: 0;
    width: 90%;
}

.myButton {
	box-shadow: 3px 11px 15px -9px #276873;
	background:linear-gradient(to bottom, #59b3a0 5%, #75c9d8 100%);
	background-color:#59b3a0;
	border-radius:11px;
	display:inline-block;
	cursor:pointer;
	/* color:#ffffff; */
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
    padding:13px 2px;
    position: absolute;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}