.flightFormContainer {
    margin: 1%;
    border-radius: 5px;
    background: linear-gradient(rgba(44, 42, 150, 0.486), rgba(42, 150, 96, 0.493));
    color: rgb(0, 0, 0);
    box-shadow: 2px 2px 4px rgba(48, 42, 42, 0.9);
    /* transition: all 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95); */
}

/* .flightFormContainer:hover {
    transform: scale(1.05);
    -ms-transform: scale(1.05); /* IE 9 */
    /* -webkit-transform: scale(1.05); /* Safari prior 9.0 
} */ 

input[type="date"]::-webkit-inner-spin-button { 
    display: none;
    border: none;
    border-radius: 5px;
    max-width: 50%;

}

.flightForm {
    display: flex;
    flex-wrap: wrap;
    max-width: 95%;
    margin: auto;
    padding: 3vh 0;
    font-size: 110%;
}

input, select, button {
      font-size: 110%;
      margin-bottom: 3%;
      box-sizing: border-box;
      height: 30px;
      padding: 0;
}

.inputText,
.dropDownSelect {
    max-width: 60%;
    box-sizing: content-box;
    align-self: center;
    border: none;
    border-radius: 3px;
    background-color: cornsilk;
}

.formRow {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    margin: auto;
}

label {
    align-self: center;
}

.dropDown,
.textInput {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 50%;
}

.inputText {
    max-width: 50%;
    padding-left: 5px;
}

.dropDown {
    margin-left: 2%;
    box-sizing: border-box;
    min-width: 50%;
}