
@media only screen and (max-width: 1024px) {
.myButton {
  font-size: 15px;
}

  .flightCardGetPrice,
  .flightFormContainer,
  .forecastWheather {
    font-size: x-small;
  }
  
  .pageTitle {
    font-size: xx-large;
    align-self: auto;
  }

  .airplaneImage {
    display: none;
  }

  .airplaneImage::before {
display: none;
  }

  @media only screen and (max-width: 736px) {
    .myButton {
      position: relative;
      left: calc(60vw - 30px);
    }
    .historyOfSearch {
      display: none;
    }
    
    .mainContent {
      flex-direction: row-reverse;
      min-width: 100%;
    }
    
    .middleContainer {
      min-width: 75%;
      margin-left: 0.5%;
      margin-right: 0.5%;
    }
    
    .flightCardGetPrice {
      font-size: 70%;
    }
    
    .forecastWheather {
      max-width: 33%;
    }
    
    @media only screen and (max-width: 568px) {
      .myButton {
        left: 60vw;
      }

      .forecastWheather {
        display: none;
      }
    
      .middleContainer {
        min-width: 99%;
      }
    
      .centralImage {
        display: none;
      }
      /* @media only screen and (max-width: 446px) { */
        .mainContainer {
          font-size: 75%;
          }
        
          .appHeader {
            border-radius: 10px;
          }
     
        .mainContent {
          background-image: linear-gradient(100deg, #22c0c3c0, #2dfda6);
          border-radius: 10px;
        }
      }
    }
  }