body {
  /* text-align: center; */
  margin: 0;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(135, 206, 235);
  background-image: radial-gradient(rgb(135, 206, 235), rgb(255, 255, 255), rgb(44, 42, 150));
  height: 11vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  box-shadow: 0px 2px 9px rgba(48, 42, 42, 0.9);
}

.pageTitle {
  text-align: center;
  box-sizing: border-box;
  margin: 2% auto;
  padding: 4px;
  font-style: italic;
  background-image: linear-gradient(60deg, rgb(255, 0, 0), rgb(55, 0, 255));
  background: -webkit-linear-gradient(60deg, rgb(238, 0, 0), rgb(55, 0, 255));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 4px rgba(48, 42, 42, 0.9);
  border-radius: 5px;  
}

.mainContent {
display: flex;
position: fixed;
top: 11.5vh;
width: 100vw;
}

.sideContainers {
  background-color: rgb(134, 169, 201);
  border-radius: 5px;
  height: 100vh;
  flex-grow: 1;
  max-width: 20%;  
}

.middleContainer {
  flex-grow: 3;
  max-width: 60%;
  background-color: rgb(255, 255, 255);
}

.historyOfSearch {
  text-align: center;
  box-shadow: 2px 2px 4px rgba(48, 42, 42, 0.9);
}

.sideImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 11vh;
  border-radius: 5px;
}

.airplaneImage {
background-image: url("./commercialAirplane.jpg");
}

.forecastWheather {
  box-shadow: -2px 2px 4px rgba(48, 42, 42, 0.9); 
}

.wheatherImage {
  background-image: url("./Wheather.jpg");
}

.containerForm {
  margin: 8px;
  background-color: rgba(241, 126, 241, 0.185);
  color: rgb(0, 0, 0);
}